<!DOCTYPE html>
<html>
<head>
  <title>Request a new campus for DBC</title>
</head>
<body>
Enter your desired campus location here:
  <form action="/locations" method="POST">
    <input type="text" name="locations" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>